* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

button {
  font-family: "PT Sans", sans-serif;
}

input {
  font-family: "PT Sans", sans-serif;
}
.section {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
  padding-left: 70px;
}

.header__nav {
  display: flex;
  gap: 16px;
  padding-left: 40px;
}

.nav__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}

.header__right {
  display: flex;
  align-items: center;
  padding-right: 70px;
}

.header__right-logo {
  display: flex;
  padding-right: 20px;
}

.header__btn {
  font-size: 16px;
  font-weight: 700;
  padding: 8px 50px;
  background-color: #756157;
  border-radius: 4px;
  color: #ffffff;
  border: solid #756157;
}

.main__sedona-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  padding-top: 69px;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.main__paragraph {
  padding-top: 25px;
  padding-bottom: 69px;
  font-size: 22px;
  font-weight: 400;
  color: #333333;
}

.main__town {
  margin-top: 21px;
  display: flex;
  justify-content: space-between;
}

.main__town-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #82b3d3;
  padding: 103px 85px;
  gap: 10px;
}

.main__town-title {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.main__town-paragraph {
  padding-top: 62px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

